* {
  box-sizing: border-box;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 0 auto;
  gap: 10px;
}

img {
  max-width: 100%;
}

article {
  border: 1px solid black;
}
